# {{ zeteldeuk_managed }}
# If a window is closed, renumber remaining windows to fill the gap.
set -g renumber-windows on

# :wq
setw -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-selection-and-cancel

# Attempt to copy to the system clipboard if not remote.
if-shell "test -z $SSH_CONNECTION" \
  "set -s set-clipboard on"

# vim: ft=tmux
